oisToDoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://www.tud.ttu.ee/web/dasoyl/OisToDo" 
	targetNamespace="http://www.tud.ttu.ee/web/dasoyl/OisToDo">
	<wsdl:types>
		<xs:schema  targetNamespace="http://www.tud.ttu.ee/web/dasoyl/OisToDo" elementFormDefault="qualified">
			<xs:complexType name ="taskType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
                    <xs:element name="code" type="xs:string"/>
					<xs:element name="name">
                        <xs:simpleType> base="xs:string"
                            <xs:restriction>
                                <xs:element name="task" type="xs:string"/>
                                <xs:element name="kodutoo" type="xs:string"/>
                                <xs:element name="tunnitoo" type="xs:string"/>
                                <xs:element name="projekt" type="xs:string"/>
                                <xs:element name="test" type="xs:string"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="aine" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="taskNotes" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="toDoTaskType">
				<xs:sequence>
					<xs:element name="task" type="tns:taskType"/>
					<xs:element name="quantity" type="xs:double"/>
					<xs:element name="punktid" type="xs:double"/>
					<xs:element name="boonus" type="xs:double"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="toDoTaskListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="toDoTask" type="tns:toDoTaskType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name ="toDoType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="toDoDate" type="xs:date"/>
					<xs:element name="dueDate" type="xs:date"/>
					<xs:element name="studentName" type="xs:string"/>
					<xs:element name="punktideSumma" type="xs:double"/>
					<xs:element name="punktidAdjustment" type="xs:double"/>
                    <xs:element name="toDoTaskList" type="tns:toDoTaskListType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getTaskRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTaskResponse" type="tns:taskType"/>
			<xs:element name="addTaskRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addTaskResponse" type="tns:taskType"/>
			<xs:element name="getTaskListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTaskListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="task" type="tns:taskType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getToDoRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getToDoResponse" type="tns:toDoType"/>
			<xs:element name="addToDoRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="toDoNr" type="xs:string"/>
						<xs:element name="toDoDate" type="xs:date"/>
						<xs:element name="dueDate" type="xs:date"/>
						<xs:element name="studentName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addToDoResponse" type="tns:toDoType"/>
			<xs:element name="getToDoListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="startDate" type="xs:date"/>
						<xs:element name="endDate" type="xs:date"/>
						<xs:element minOccurs="0" name="hasRelatedTasks">
						  <xs:simpleType>
							<xs:restriction base="xs:string">
							  <xs:pattern value="jah|ei"/>
							</xs:restriction>
						  </xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getToDoListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="toDo" type="tns:toDoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getToDoTaskListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="toDoId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getToDoTaskListResponse" type="tns:toDoTaskListType"/>
			<xs:element name="addToDoTaskRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="toDoId" type="xs:integer"/>
						<xs:element name="taskId" type="xs:integer"/>
						<xs:element name="quantity" type="xs:double"/>
						<xs:element name="punktid" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addToDoTaskResponse" type="tns:toDoTaskType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getTaskMessageRequest">
		<wsdl:part name="parameter" element="tns:getTaskRequest"/>
	</wsdl:message>
	<wsdl:message name="getTaskMessageResponse">
		<wsdl:part name="parameter" element="tns:getTaskResponse"/>
	</wsdl:message>
	<wsdl:message name="addTaskMessageRequest">
		<wsdl:part name="parameter" element="tns:addTaskRequest"/>
	</wsdl:message>
	<wsdl:message name="addTaskMessageResponse">
		<wsdl:part name="parameter" element="tns:addTaskResponse"/>
	</wsdl:message>
	<wsdl:message name="getTaskListMessageRequest">
		<wsdl:part name="parameter" element="tns:getTaskListRequest"/>
	</wsdl:message>
	<wsdl:message name="getTaskListMessageResponse">
		<wsdl:part name="parameter" element="tns:getTaskListResponse"/>
	</wsdl:message>
	<wsdl:message name="getToDoMessageRequest">
		<wsdl:part name="parameter" element="tns:getToDoRequest"/>
	</wsdl:message>
	<wsdl:message name="getToDoMessageResponse">
		<wsdl:part name="parameter" element="tns:getToDoResponse"/>
	</wsdl:message>
	<wsdl:message name="addToDoMessageRequest">
		<wsdl:part name="parameter" element="tns:addToDoRequest"/>
	</wsdl:message>
	<wsdl:message name="addToDoMessageResponse">
		<wsdl:part name="parameter" element="tns:addToDoResponse"/>
	</wsdl:message>
	<wsdl:message name="getToDoListMessageRequest">
		<wsdl:part name="parameter" element="tns:getToDoListRequest"/>
	</wsdl:message>
	<wsdl:message name="getToDoListMessageResponse">
		<wsdl:part name="parameter" element="tns:getToDoListResponse"/>
	</wsdl:message>
	<wsdl:message name="getToDoTaskListMessageRequest">
		<wsdl:part name="parameter" element="tns:getToDoTaskListRequest"/>
	</wsdl:message>
	<wsdl:message name="getToDoTaskListMessageResponse">
		<wsdl:part name="parameter" element="tns:getToDoTaskListResponse"/>
	</wsdl:message>
	<wsdl:message name="addToDoTaskMessageRequest">
		<wsdl:part name="parameter" element="tns:addToDoTaskRequest"/>
	</wsdl:message>
	<wsdl:message name="addToDoTaskMessageResponse">
		<wsdl:part name="parameter" element="tns:addToDoTaskResponse"/>
	</wsdl:message>
	<wsdl:portType name="ToDoPortType">
		<wsdl:operation name="getTask">
			<wsdl:input message="tns:getTaskMessageRequest"/>
			<wsdl:output message="tns:getTaskMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addTask">
			<wsdl:input message="tns:addTaskMessageRequest"/>
			<wsdl:output message="tns:addTaskMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getTaskList">
			<wsdl:input message="tns:getTaskListMessageRequest"/>
			<wsdl:output message="tns:getTaskListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getToDo">
			<wsdl:input message="tns:getToDoMessageRequest"/>
			<wsdl:output message="tns:getToDoMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addToDo">
			<wsdl:input message="tns:addToDoMessageRequest"/>
			<wsdl:output message="tns:addToDoMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getToDoList">
			<wsdl:input message="tns:getToDoListMessageRequest"/>
			<wsdl:output message="tns:getToDoListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getToDoTaskList">
			<wsdl:input message="tns:getToDoTaskListMessageRequest"/>
			<wsdl:output message="tns:getToDoTaskListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addToDoTask">
			<wsdl:input message="tns:addToDoTaskMessageRequest"/>
			<wsdl:output message="tns:addToDoTaskMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ToDoBinding" type="tns:ToDoPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getTask">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addTask">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTaskList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getToDo">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addToDo">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getToDoList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getToDoTaskList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addToDoTask">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ToDoService">
		<wsdl:port name="ToDoPort" binding="tns:ToDoBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
