WebApplicationProject/src/conf/xml-resources/web-services/SubjectWebServiceFromWSDL/wsdl/SubjectService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 	targetNamespace="http://www.ttu.ee/idu0075/2018/ws/subject" 
					xmlns:tns="http://www.ttu.ee/idu0075/2018/ws/subject" 
					xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
					xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
					xmlns:xs="http://www.w3.org/2001/XMLSchema" 
					xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
					xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.ttu.ee/idu0075/2018/ws/subject" elementFormDefault="qualified">
			<xs:complexType name="assignmentType">
				<xs:sequence>
					<xs:element name="code" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="type" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="classTask | homeTask | project | test | exam"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="teamTask" type="xs:boolean"/>
					<xs:element name="dueDate" type="xs:date"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="subjectAssignmentType">
				<xs:sequence>
					<xs:element name="assignment" type="tns:assignmentType"/>
					<xs:element name="quantity" type="xs:double"/>
					<xs:element name="points" type="xs:double"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="subjectAssignmentListType">
				<xs:sequence>
					<xs:element name="subjectAssignment" type="tns:subjectAssignmentType" maxOccurs="unbounded" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="subjectType">
				<xs:sequence>
					<xs:element name="subjectCode" type="xs:string"/>
					<xs:element name="subjectName" type="xs:string"/>
					<xs:element name="subjectDate" type="xs:date"/>
					<xs:element name="teacherName" type="xs:string"/>
					<xs:element name="grade" type="xs:double"/>
					<xs:element name="subjectAssignmentList" type="tns:subjectAssignmentListType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getAssignmentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAssignmentResponse" type="tns:assignmentType"/>
			<xs:element name="addAssignmentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addAssignmentResponse" type="tns:assignmentType"/>
			<xs:element name="getAssignmentListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAssignmentListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="assignment" type="tns:assignmentType" maxOccurs="unbounded" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectResponse" type="tns:subjectType"/>
			<xs:element name="addSubjectRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="subjectCode" type="xs:string"/>
						<xs:element name="subjectDate" type="xs:date"/>
						<xs:element name="teacherName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSubjectResponse" type="tns:subjectType"/>
			<xs:element name="getSubjectListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="startDate" type="xs:date"/>
						<xs:element name="endDate" type="xs:date"/>
						<xs:element name="hasRelatedAssignments" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="jah|ei"/>
							</xs:restriction>
						</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subject" type="tns:subjectType" maxOccurs="unbounded" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectAssignmentListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="subjectCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSubjectAssignmentListResponse" type="tns:subjectAssignmentListType"/>
			<xs:element name="addSubjectAssignmentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="subjectCode" type="xs:string"/>
						<xs:element name="assignmentCode" type="xs:string"/>
						<xs:element name="quantity" type="xs:double"/>
						<xs:element name="unitPrice" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSubjectAssignmentResponse" type="tns:subjectAssignmentType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getAssignmentMessageRequest">
		<wsdl:part name="parameter" element="tns:getAssignmentRequest"/>
	</wsdl:message>
	<wsdl:message name="getAssignmentMessageResponse">
		<wsdl:part name="parameter" element="tns:getAssignmentResponse"/>
	</wsdl:message>
	<wsdl:message name="addAssignmentMessageRequest">
		<wsdl:part name="parameter" element="tns:addAssignmentRequest"/>
	</wsdl:message>
	<wsdl:message name="addAssignmentMessageResponse">
		<wsdl:part name="parameter" element="tns:addAssignmentResponse"/>
	</wsdl:message>
	<wsdl:message name="getAssignmentListMessageRequest">
		<wsdl:part name="parameter" element="tns:getAssignmentListRequest"/>
	</wsdl:message>
	<wsdl:message name="getAssignmentListMessageResponse">
		<wsdl:part name="parameter" element="tns:getAssignmentListResponse"/>
	</wsdl:message>
	<wsdl:message name="getSubjectMessageRequest">
		<wsdl:part name="parameter" element="tns:getSubjectRequest"/>
	</wsdl:message>
	<wsdl:message name="getSubjectMessageResponse">
		<wsdl:part name="parameter" element="tns:getSubjectResponse"/>
	</wsdl:message>
	<wsdl:message name="addSubjectMessageRequest">
		<wsdl:part name="parameter" element="tns:addSubjectRequest"/>
	</wsdl:message>
	<wsdl:message name="addSubjectMessageResponse">
		<wsdl:part name="parameter" element="tns:addSubjectResponse"/>
	</wsdl:message>
	<wsdl:message name="getSubjectListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSubjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSubjectListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSubjectListResponse"/>
	</wsdl:message>
	<wsdl:message name="getSubjectAssignmentListMessageRequest">
		<wsdl:part name="parameter" element="tns:getSubjectAssignmentListRequest"/>
	</wsdl:message>
	<wsdl:message name="getSubjectAssignmentListMessageResponse">
		<wsdl:part name="parameter" element="tns:getSubjectAssignmentListResponse"/>
	</wsdl:message>
	<wsdl:message name="addSubjectAssignmentMessageRequest">
		<wsdl:part name="parameter" element="tns:addSubjectAssignmentRequest"/>
	</wsdl:message>
	<wsdl:message name="addSubjectAssignmentMessageResponse">
		<wsdl:part name="parameter" element="tns:addSubjectAssignmentResponse"/>
	</wsdl:message>
	<wsdl:portType name="SubjectPortType">
		<wsdl:operation name="getAssignment">
			<wsdl:input message="tns:getAssignmentMessageRequest"/>
			<wsdl:output message="tns:getAssignmentMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addAssignment">
			<wsdl:input message="tns:addAssignmentMessageRequest"/>
			<wsdl:output message="tns:addAssignmentMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAssignmentList">
			<wsdl:input message="tns:getAssignmentListMessageRequest"/>
			<wsdl:output message="tns:getAssignmentListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubject">
			<wsdl:input message="tns:getSubjectMessageRequest"/>
			<wsdl:output message="tns:getSubjectMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSubject">
			<wsdl:input message="tns:addSubjectMessageRequest"/>
			<wsdl:output message="tns:addSubjectMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubjectList">
			<wsdl:input message="tns:getSubjectListMessageRequest"/>
			<wsdl:output message="tns:getSubjectListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSubjectAssignmentList">
			<wsdl:input message="tns:getSubjectAssignmentListMessageRequest"/>
			<wsdl:output message="tns:getSubjectAssignmentListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addSubjectAssignment">
			<wsdl:input message="tns:addSubjectAssignmentMessageRequest"/>
			<wsdl:output message="tns:addSubjectAssignmentMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubjectBinding" type="tns:SubjectPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="getAssignment">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAssignment">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAssignmentList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSubject">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubject">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSubjectList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSubjectAssignmentList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubjectAssignment">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubjectService">
		<wsdl:port name="SubjectPort" binding="tns:SubjectBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>